body{
    background-color: #A8B5A1;
    color: #6B4F31;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    margin-top: 20px;
}

.cookingteam{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cooking1ton{
    border-radius: 5%;
    padding-left: 50px;
    padding-right: 50px;
}

.featTheRecipes{
    border: 1px solid #6B4F31 ;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.featTheRecipes1{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* .recipeQuoteLink{
    display: flex;
    flex-direction: column;
} */

.healthWealth{
    display: flex;
    justify-content: center;
    margin-top: -10px;
}

.meals{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.breakfast{
    border: 1px solid #6B4F31;
    padding: 5px;
    border-radius: 5px;
}

.lunch{
    border: 1px solid #6B4F31;
    padding: 5px;
    border-radius: 5px;
}

.dinner{
    border: 1px solid #6B4F31;
    padding: 5px;
    border-radius: 5px;
}