body {
    background-color: #A8B5A1;
    color: #6B4F31;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    margin-top: 20px;
}

.searchRecipesContainer {
    min-height: 100vh;
}

.searchContent {
    padding: 2rem 4rem;
    border: 0.5px solid #6B4F31;
    border-radius: 30px;
    margin: 40px 50px;
}
