.headers{
    display: flex;
    gap:70px;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -0px;
    gap: 150px;
    border: 1px solid gray;
}

.heading2{
    padding-left: 50px;
    padding-right: 50px;
}

.heading3{
    /* border: 1px solid gray; */
    /* padding-left: 50px; */
}

.logos{
    display: flex;
}

.inputRecipe{
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 20px;
    border-radius: 20px;
    border: 0px;
}