.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: -30px;
}

.logo {
  width: 150px; /* Increase the size of the logo */
  height: 150px; /* Increase the size of the logo */
}

h1 {
  color: #6B4F31; /* Adjust the color as needed */
  margin-top: -30px; /* Reduce the margin top of the welcome message */
}

.inputField {
  padding: 10px;
  margin: 5px 0; /* Reduce the margin between input fields */
  border-radius: 5px;
  border: 1px solid #786C3B; /* Adjust the color as needed */
  display: block; /* Make input fields stack on top of each other */
  width: 250px; /* Increase the width of the input field by a quarter */
}

.loginButton {
  padding: 10px 20px;
  background-color: #6B4F31; /* Adjust the color as needed */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; /* Adjust the margin as needed */
}

.loginButton:hover {
  background-color: #786C3B; /* Adjust the color as needed */
}

.loginBTN{
    
}
