.headers1{
    display: flex;
    gap:80px;
    border: 1px solid #786C3B;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.heading45{
    display: flex;
    padding-left: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    gap: 90px;
    border: 1px solid #786C3B;
    border-radius: 30px;
}

.heading23{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 60px;
    margin-bottom: 0px;
}

.logos1{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
}

.inputRecipe{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    border: 0px;
}

.homeTag{
    color: #6B4F31;
}
.homeTag:hover{
    color: black;
}


.recipeTag{
    color: #6B4F31;
}
.recipeTag:hover{
    color: black;
}


.aboutUsTag{
    color: #6B4F31;
}
.aboutUsTag:hover{
    color: black;
}


.favouritesTag{
    color: #6B4F31;
}
.favouritesTag:hover{
    color: black;
}




.login{
    padding: 10px;
    border: 1px solid #786C3B;
    border-radius: 10px;
}

.signUp{
    padding: 10px;
    border: 1px solid #786C3B;
    border-radius: 10px;
}



